﻿@model ExamenPractico.Models.Rol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rol</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idRol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idRol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
