﻿@model ExamenPractico.Models.Usuario

@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width-device-whidth" />
        <title>Login</title>
        <style>
            #login-div {
                position: absolute;
                left: 40%;
                top: 40%;
                border: 1px solid dotted;
                padding: 10px 10px;
            }
        </style>
    </head>
    <body>

        <div id="login-div">
           
            @using (Html.BeginForm("Autorizado","Login" ,FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>
                            
                        </td>
                        <td style ="text-decoration:underline">REGISTRO DE USUARIOS</td>
                    </tr>
                    <tr>
                        <td>
                           <label>USUARIO</label>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.usuario1)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model =>model.usuario1)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>CONTRASEÑA</label>
                        </td>
                        <td>
                            @Html.EditorFor(model =>model.contraseña)
                        </td>
                    </tr>
                     <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model =>model.contraseña)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label class ="field-validation-error">
                                @Html.DisplayFor(model =>model.mensajeError)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="name" value="Login" />

                        </td>
                    </tr>
                </table>
            }
        </div>

        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>

</html>