﻿@model ExamenPractico.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<h2>Registrar los datos del usuario</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
           <label>ID USUARIO</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idUsuario)
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <div class="editor-label">
           <label>NOMBRE</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
           <label>CONTRASEÑA</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contraseña)
            @Html.ValidationMessageFor(model => model.contraseña)
        </div>

        <div class="editor-label">
           <label>USUARIO</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuario1)
            @Html.ValidationMessageFor(model => model.usuario1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRol, "Rol")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idRol", String.Empty)
            @Html.ValidationMessageFor(model => model.idRol)
        </div>

       

        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Realizar nuevo registro", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
