﻿@model ExamenPractico.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contraseña)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contraseña)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rol.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rol.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensajeError)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensajeError)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombreRol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreRol)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
