﻿@model ExamenPractico.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idUsuario)
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contraseña)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contraseña)
            @Html.ValidationMessageFor(model => model.contraseña)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuario1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuario1)
            @Html.ValidationMessageFor(model => model.usuario1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRol, "Rol")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idRol", String.Empty)
            @Html.ValidationMessageFor(model => model.idRol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mensajeError)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mensajeError)
            @Html.ValidationMessageFor(model => model.mensajeError)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreRol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreRol)
            @Html.ValidationMessageFor(model => model.nombreRol)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
