﻿@model IEnumerable<ExamenPractico.Models.Usuario> 

@{
    ViewBag.Title = "Index";
}

<h2>Registro de usuarios</h2>

<p>
    @Html.ActionLink("Registrar nuevo usuario", "Create")
</p>
<table>
    <tr>
        
        <th>
           <label>Nombre</label>
        </th>
        <th>
            <label>Contraseña</label>
        </th>
        <th>
            <label>Usuario</label>
        </th>
        <th>
           <label>Id Rol</label>
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
    
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.idRol)
        </td>
        
    </tr>
}

</table>
