﻿@{
    Layout = null;
    if (Session["idUsuario"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
    <head>
        <meta name ="viewport" content="width-device-width" />
        <title>Detalle Usuarios</title>
    </head>

    <body>
        <div>
            <h1>Detalle de Usuario</h1>
            <h3>
            Rol del usuario: @Session["nombreRol"].ToString()
            </h3>
            <h3>
            Rol del usuario: @Session["nombre"].ToString()
            </h3>
            <h3>
            Rol del usuario: @Session["usuario"].ToString()
            </h3>
            <a href="@Url.Action("LogOut","Login")">LogOut</a>
        </div>
    </body>
</html>